#weatherBody {
  background-image: url("https://images.unsplash.com/photo-1603437873662-dc1f44901825?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
#header {
  font-style: oblique;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#inputField {
  padding: 20px;
  border: 2px solid cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
#weatherCard {
  padding: 40px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#newsCard {
  padding: 40px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#newsImage {
  height: 20px;
  width: 20px;
}
